# Configurações
.env

# IDE
.idea/

# Minecraft server
cache/
logs/
world/
world_nether/
world_the_end/
world_staff/

.console_history
banned-ips.json
banned-players.json
usercache.json
version_history.json
whitelist.json
